@use '@angular/material' as mat;

//#enemies, #previousEnemy {
//  display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;
//}
//
//#playerParty, #rejects {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//}
//#container{
//  display: grid;
//  grid-template-columns: 1fr 9fr;
//}
button{
  margin: 5px 0;
}
mat-card{
  max-width: 300px;
  height: fit-content;
}
