<mat-form-field appearance="outline" *ngIf="{names: $name | async} as pipes">
  <mat-label class="">{{label}}</mat-label>
  <input #input type="text"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         [formControl]="nameControl"
         (input)="filter()"
         (focus)="filter()"
         [matAutocomplete]="autoMove">
  @if (nameControl.value) {
    <button matSuffix mat-icon-button aria-label="Clear"
            (click)="nameControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-autocomplete [requireSelection]="true" #autoMove="matAutocomplete">
    @for (option of moves;track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
